In [1]:
import atd2022
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import Test Region Data

In [30]:
data=pd.read_csv("/Users/will/LISP-ATD-2022/Informer/test_region.csv")
data.rename(columns={"Unnamed: 0":"timestamp"}, inplace=True)
data=data.set_index("timestamp")

In [31]:
data

,01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20
timestamp,,,,,,,,,,,,,,,,,,,,
2013-12-30/2014-01-05,0,0,0,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2014-01-06/2014-01-12,2,0,0,11,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2014-01-13/2014-01-19,0,1,3,7,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
2014-01-20/2014-01-26,0,1,0,4,0,0,0,2,0,0,0,0,0,0,0,1,0,0,0,0
2014-01-27/2014-02-02,6,1,59,3,0,103,0,4,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-08/2018-01-14,13,9,20,85,4,2,0,2,8,0,0,0,0,0,0,1,8,0,0,0
2018-01-15/2018-01-21,14,5,8,10,1,0,0,1,0,1,0,1,0,0,0,0,3,0,2,0
2018-01-22/2018-01-28,5,2,0,23,3,2,5,1,0,0,2,0,0,0,0,3,4,0,4,0
2018-01-29/2018-02-04,3,2,7,37,6,10,4,7,0,1,1,1,0,0,0,0,0,0,0,0
2018-02-05/2018-02-11,7,6,7,49,6,0,1,2,2,2,6,0,1,0,0,0,2,0,4,0

In [33]:
from data.data_loader import Dataset_Custom
from torch.utils.data import DataLoader
import pandas as pd
import os